extends layout

block content
    h1 Play Time 4 Trivia!
    button Go
    
    form(method='POST')
        ul
            each val in questions
                li
                    div
                        label= val.Question
                            select(name=val.QuestionId)
                                option(value='true') True
                                option(value='false') False

        button(type="submit") Submit
                